  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roberto', sans-serif;
    background-color: #242424;
  }

a {
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

nav {
    background-image: url(./javascript\ final\ assets/low-poly-grid-haikei.svg);
    height: 180px;
    opacity: .8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__link {
    margin-right: 24px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.nav__links {
    display: flex;
}

.logo {
    font-size: 48px;
    color: white;
    font-weight: bold;
    opacity: 1;
}

/*

LANDING

*/


.wrapper {
    min-height: 100vh;
    background-color: #242424;
}

 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

.search__container {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title {
    margin: 20px;
    color: white;
    display: flex;
    justify-content: start;
}


.search__element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 40px;

}

.search__element h3 {
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
    color: white;
    width: 500px;
    text-align: center;
}

.form__control {
    max-width: 500px;
    width: 100%;
    padding: 18px;
    border: 1px solid #00101C;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #00101C 0%, #A6294b 100%);
    color: white;
    
}

#sort {
    display: none;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #A6294b;
    animation: rotate 600ms infinite linear;
    
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

/*

MOVIE RESULTS

*/


@keyframes rotate{
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }


}
.trending__filter--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    text-align: center;
}

.search__list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
}

.result__container {
    padding: 50px 0;
    margin: 0 12px;
}

.movie__poster--img {
    max-width: 300px;
    margin: 0 auto;
}


.result__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movie__info {
    color: white;
    text-align: center;
}

.result__wrapper {
    display: flex;
    flex-direction: column;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie__poster {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 12px;
}

.movie__results {
    display: none;
    background-image: linear-gradient(135deg, #00101C 0%, #A6294b 100%);
}

.movie__container {
    width: calc(100%/4);
}

@media (max-width: 1024px) {
    .movie__container {
        width: calc(100%/2);
    } 
}

@media (max-width: 768px) {
    .movie__container {
        width: 100%;
    }
}





