  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roberto', sans-serif;
    background-color: #242424;
  }

a {
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.wrapper {
    min-height: 100vh;
    background-color: #242424;
}

 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

.search__container {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px;
    color: white;
}

.logo {
    font-size: 48px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid red;
}

.search__element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.search__element h3 {
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
    color: white;
    width: 500px;
    text-align: center;
}

.form__control {
    max-width: 500px;
    width: 100%;
    padding: 18px;
    border: 1px solid red;
    border-radius: 5px;
    
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
    font-size: 60px;
    position: absolute;
   display: none !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360 deg);
    }
}

.trending__filter--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.search__list {
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
}

.result__container {
    padding: 50px 0;
    margin: 0 12px;
}

.movie__poster--img {
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid red;
}

.result__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movie__info {
    color: white;
    text-align: center;
}

.result__wrapper {
    display: flex;
    flex-direction: column;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie__poster {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 12px;
}

.movie__results {
    
}

.movie__container {
    width: calc(100%/4);
}



